section {
  border: 1px solid red;
  width: 400px;
  
  h1 {
      text-align: center;
  }

  div#board {
    div {
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid black;
      
      .item {
        width: 33%;
        height: 100px;
        cursor: pointer;
      }
    }
  }
}